* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width: 80%;
    padding-top: 20px;
    max-width: 500px;
}

input {
    color: black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid orangered;
    display: block;
}

input, textarea {
    width: 100%;
}

#submit {
    width: 30%;
    margin: 10px auto;


}

#submit:hover {
    color: red;
}

label {
    margin: 5px 0px;
}

body {
    background-color:wheat;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border-color: orangered;
    border: 1px solid orangered;
}

footer iframe {
    position: fixed;
    bottom: 0px;
    margin-bottom: -5px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

div {
    width: 60%;
    margin: auto;

}


body{
    margin: 0px;
    padding: 0;
}

button{
    padding: 10px;
    background-color:orange ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 60%;
}

button:hover{
    background-color:rgb(196, 128, 3) ;
}