* {
    margin: 0;
    padding: 0;
}


form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    color: black;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    display: block;
}

input, textarea {
    width: 100%;
}

#submit {
    width: 30%;
    margin: 10px auto;


}

#submit:hover {
    color: red;
}



p {
    text-align: center;
}

label {
    margin: 5px 0px;
}

body {
    background-color: gold;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border-color: orangered;
    border: 1px solid red;
}

footer iframe {
    bottom: 0px;
    margin-bottom: -5px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

div {
    width: 60%;
    margin: auto;

}