* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 221, 153);
}

main h1 {
    text-align: center;
    margin: 20px 0px;
}

article {
    text-align: center;
    margin: 10px;
}

article section p{
    text-align: justify;
}

.sobre {
    margin:  20px auto;
    max-width: 1200px;
    background-color:   white;
    box-shadow: 5px 2px 13px 1px #000;
    border-left: solid 5px black;
    padding: 20px;
}

article .container {
    display: flex;
    justify-content: center;
}

article .container section {

}

article .container section img {
    margin: 10px auto;
    display: block;
}

a {
    width: 30%;
    background-color: white;
    margin: 10px;
    box-shadow: 5px 2px 13px 1px #000;
    border-top: solid 5px black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 20px;
}