* {
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(255, 244, 174); 
}

main {
    background-color: rgb(247, 247, 247);
    text-align: center;
    height: 2000px;
    padding-left: 5px;
    margin-top: 50px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    border-left: solid 6px black;
}
footer{
    margin-top: 10px;
}

#c1 {

    background-color: rgb(244, 244, 244);
    margin: auto;
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    border-top: solid 5px black;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    margin-top: 40px;

}

.container {
    display: flex;
}

#imagem1 {
    margin-top: 60px;
}

#p1 {
    margin-top: 60px;
}
section:hover{
    transform: scale(1.1);
}

#b1 {
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    height: 380px;
    border-top: solid 5px black;

}

#b2 {
    width: 30%;
    margin: auto;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-top: solid 5px black;
    height: 380px;

}

#a1 {
    display: flex;
    padding-top: 30px;
}

#b3 {
    margin: auto;
    background-color: white;
    width: 30%;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    height: 380px;
    border-top: solid 5px black;
}

#a2 {
    display: flex;
    padding-top: 30px;
    margin: auto;
}

#b4 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-top: solid 7px black;
    height: 380px;

}

#b5 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-top: solid 7px black;
    height: 380px;
}

#b6 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-top: solid 5px black;
    height: 380px;
}

#a3 {
    display: flex;
    padding-top: 30px;

}

#b7 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    border-top: solid 5px black;
    height: 380px;
}

#b8 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    height: 380px;
    border-top: solid 5px black;
}

#b9 {
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 4px -1px 61px 9px rgba(0, 0, 0, 0.44);

    height: 380px;
    border-top: solid 5px black;
}



#d1 {
    text-align: justify;
    display: block;


}

#d2 {
    width: 8%;
    border-radius: 5px;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: white;
}

#d3 {
    width: 13%;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: white;
}
p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}


#iframe_footer {
    margin-bottom: -5px;
}