* {
    padding: 0px;
    margin: 0px;
}

main{
    background-color: rgb(231, 221, 153);
    text-align: center;
    height: 1800px;
    border-radius: 5px;
}
#c1{

background-color: rgb(244, 244, 244);
margin: auto;
width: 90%;
border-radius: 5px;
display: flex;
border: solid 5px rgb(139, 13, 13);
}
#b1{
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;

    
}
#b2 {
    width: 30%;
    margin: auto;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
    
}
#a1{
    display: flex;
    padding-top: 30px;
}
#b3{
    margin: auto;
    background-color: white;
    width: 30%;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}

#a2{
    display: flex;
    padding-top: 30px;
    margin: auto;
}
#b4{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
    
}
#b5{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}
#b6{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}
#a3 {
    display: flex;
    padding-top: 30px;

}
#b7{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}
#b8{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}
#b9{
    width: 30%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
-moz-box-shadow: 4px -1px 61px 9px rgba(0,0,0,0.44);
border: solid 3px black;
}
img{
    border: solid 5px black;
}
#d1{
 text-align: left;   
 margin-left: 70px;
}