*{
    padding: 0;
    margin: 0;
   
}

body {
    background-color: rgb(250, 133, 15);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: goldenrod;
    text-align: center; 
}





