*{
    padding: 0;
    margin: 0;
   
}

body {
    background-color: rgb(250, 133, 15);
}

footer{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: goldenrod;
    text-align: center; 
}






