img {
    width: 100px;
    height: 100px;
   
}
img:hover{
    animation: spin 2s linear infinite;

}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

p{
    text-align:center;
}

header{
    background-color:  rgba(234, 149, 1, 0.966);
    color: black;
    margin-top: 10px;
    padding:0;
    margin: 0;
}

#lista{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: fantasy;
    align-items: center;
    padding: 10px;
    
}

a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

*{
    padding: 0;
    margin: 0;
}

a:hover{
    color: rgb(191, 60, 17);
    background-color: rgba(255, 255, 255, 0.489);
    border-radius: 5px;
}

body{
    background-color:  rgba(234, 149, 1, 0.966);
}