<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
    <link rel="icon" type="image/x-icon"
        href="https://o.remove.bg/downloads/eaa7df91-3c7f-47d4-905c-e7728d42a772/imagemlogodesafio-removebg-preview.png">
    <title>header</title>
</head>

<body>
    <header>
        
        <p>
            <img id="imagem"
                src="https://o.remove.bg/downloads/eaa7df91-3c7f-47d4-905c-e7728d42a772/imagemlogodesafio-removebg-preview.png"
                alt="logo">
        </p>
        <nav>

            <ul id="lista">
                <li><a href="../pages/sobre.html" target="_parent">Sobre nós</a></li>

                <li> <a href="../index.html" target="_parent">Menu</a></li>

                <li><a href="../pages/page3.html" target="_parent">Contato</a></li>
            </ul>
        </nav>

    </header>
</body>

</html>